Package: com.gilshahar7.volumebrightness
Name: VolumeBrightness
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Toggle between changing the volume and brightness by pressing both volume buttons.
Maintainer: gilshahar7
Author: gilshahar7
Section: Tweaks
